.users_page{
    display:flex;
}

.page_container{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 10px 50px;
    background: #F9FEFF;
    overflow-y: auto;
    overflow-x: hidden;
}

.page_title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 72px;
    margin-bottom: 80px;
}

.table_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.table_title_first_container{
    display: flex;
}

.table_title_p{
    color: black;
    margin: 0 30px;
    font-weight: bold;
    cursor: pointer;
}
.table_title_p_active{
    color: #28ABE7;
    margin: 0 30px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 965px) {

    .table_title{
     flex-direction: column;
     padding: 0;
    }
    
    .table_title_p{
        width: 100%;
    }

    .table_title_p button{
        margin-top: 15px !important;
       }
       
}

@media screen and (max-width: 765px) {

    .page_container{
        padding: 10px 20px;
    }

   
  
}

@media screen and (max-width: 602px){
    
    .table_title_p{
        margin: 0 5px;
    }

    .table_title_p_active{
        margin: 0 5px;
    }
}