.users_page{
    display:flex;
}

.page_container{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 10px 50px;
    background: #F9FEFF;
    overflow: auto;
}

.page_title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 72px;
    margin-bottom: 80px;
}

.table_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.table_title_first_container{
    display: flex;
}

.table_title_p{
    color: black;
    margin: 0 30px;
    font-weight: bold;
    cursor: pointer;
}
.table_title_p_active{
    color: #28ABE7;
    margin: 0 30px;
    font-weight: bold;
    cursor: pointer;
}