.sideMenu{
    min-width: 295px;
    height: 100vh;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #263238;
    padding-top: 40px;
    position: relative;
}


.short_brand_icon{
    display: none;
}

.hello_text{
    margin: 40px 0;
    color:white;
    width: 100%;
    padding: 0 65px;
}

.hello_text p{
    font-size: 1.5em;
    color:white;
    margin: 0;
    padding: 0;
    font-weight: 200;
}
.hello_text h3{
    font-size: 1.5em;
    color:white;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 840px) {
    .sideMenu{
        min-width: 50px;
    }
    
    .form_login_img{
        display:none;
    }

    
    .short_brand_icon{
        display: block;
        padding:10px;
    }

	
    .hello_text{
        display: none;
    }

}
