.UserItem{
    width: 100%;
    background: #E8F9FE;
    display:flex;
    justify-content: space-between;
    padding: 15px 50px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 600;
    min-width: 600px;
}

.UserItem p{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

}

.UserItem i{
    cursor:pointer;
    
}
.UserItem i:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 765px){
    
   .UserItem{
    padding: 15px 10px;
   }

   .UserItem p{
        text-align: center;
        width: 33%;
        display: flex;
        justify-content: center;
    }
}